html, body {
    font-family: Raleway;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(
        25deg, #07a, #0aa
    );
    text-shadow: 0px 1px 2px rgba(0,0,0,.4);
    text-align: center;
}

#big-wrap {
    display: inline-block;
    margin: 2% 0;
    width: 80%;
    min-width: 850px;
}

#row1 {
    display: block;
    height: 250px;
}

#row2 {
    display: block;
    margin: 50px 0;
    height: 250px;
}

#friend-container {
    float: left;
}

#act-container {
    float: right;
}

#me-container {
    float: left;
}

#graph-container {
    float: right;
}

#logo-container {
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
}

#logo-wrapper {
    display: inline-block;
    position: absolute;
    top: 175px;
    right: 515px;
}

.container {
    text-align: center;
    position: relative;
    
    width: 400px;
    height: 250px;
    background: #f5f5f5;
	border-radius: 5px;
	box-shadow: 0 2px 10px 2px rgba(0,0,0,.3);
}

.info {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  
    color: #ffffff;
    font-family: "Lato", "Open Sans";
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    text-align: center;
}


.profile {
    float: right;
    width: 300px;
    height: 330px;
}

.logo-info {
    transform: rotate(-45deg);
    padding-top: 160px;
    padding-right: 20px;
}

.name {
    font-size: 19px;
    letter-spacing: 1px;
}

.name a {
    color: #fff;
}

.location {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1px;
}

.location a {
    color: #ffffff;
}

a:hover{outline:0;}
h1{font-size:2em;}